<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注冊</title>
</head>
<body>
    <h1>注册</h1>
    <form method="POST" action="/register">
        <label for="name">姓名:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="email">邮箱:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <label for="pwd">密码:</label>
        <input type="password" id="pwd" name="pwd" required>
        <br>
 
        <button type="submit">提交</button>
    </form>
    <form action="/login" method="GET">
        <input type="submit" value="返回">
    </form>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
